[submodule "dracula"]
	path = pack/plugins/start/dracula
	url = https://github.com/Mofiqul/dracula.nvim
	branch = main
[submodule "nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "bufferline"]
	path = pack/plugins/start/bufferline
	url = https://github.com/akinsho/bufferline.nvim
[submodule "nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "mason"]
	path = pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "nvim-code-action-menu"]
	path = pack/plugins/opt/nvim-code-action-menu
	url = https://github.com/weilbith/nvim-code-action-menu
[submodule "FixCursorHold"]
	path = pack/plugins/start/FixCursorHold
	url = https://github.com/antoinemadec/FixCursorHold.nvim
[submodule "nvim-lightbulb"]
	path = pack/plugins/opt/nvim-lightbulb
	url = https://github.com/kosayoda/nvim-lightbulb
[submodule "plenary"]
	path = pack/plugins/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "lsp_signature"]
	path = pack/plugins/opt/lsp_signature
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "nvim-tree"]
	path = pack/plugins/start/nvim-tree
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "Comment"]
	path = pack/plugins/opt/Comment
	url = https://github.com/numToStr/Comment.nvim
[submodule "null-ls"]
	path = pack/plugins/opt/null-ls
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "nvim-notify"]
	path = pack/plugins/opt/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
[submodule "lualine"]
	path = pack/plugins/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "vgit"]
	path = pack/plugins/start/vgit
	url = https://github.com/tanvirtin/vgit.nvim
[submodule "nvim-surround"]
	path = pack/plugins/opt/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "mini.pairs"]
	path = pack/plugins/opt/mini.pairs
	url = https://github.com/echasnovski/mini.pairs
[submodule "trouble"]
	path = pack/plugins/opt/trouble
	url = https://github.com/folke/trouble.nvim
[submodule "telescope"]
	path = pack/plugins/opt/telescope
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "which-key"]
	path = pack/plugins/opt/which-key
	url = https://github.com/folke/which-key.nvim
[submodule "nvim-spectre"]
	path = pack/plugins/opt/nvim-spectre
	url = https://github.com/windwp/nvim-spectre
[submodule "nvim-cmp"]
	path = pack/plugins/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp-buffer"]
	path = pack/plugins/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "cmp-nvim-lsp"]
	path = pack/plugins/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "cmp-path"]
	path = pack/plugins/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "cmp-emoji"]
	path = pack/plugins/opt/cmp-emoji
	url = https://github.com/hrsh7th/cmp-emoji
[submodule "cmp-vsnip"]
	path = pack/plugins/opt/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "vim-vsnip"]
	path = pack/plugins/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "diffview"]
	path = pack/plugins/opt/diffview
	url = https://github.com/sindrets/diffview.nvim
[submodule "gitsigns"]
	path = pack/plugins/opt/gitsignsgst
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "tokyonight"]
	path = pack/plugins/start/tokyonight
	url = https://github.com/folke/tokyonight.nvim
[submodule "nightfox"]
	path = pack/plugins/start/nightfox
	url = https://github.com/EdenEast/nightfox.nvim
