[submodule "nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "bufferline"]
	path = pack/plugins/start/bufferline
	url = https://github.com/akinsho/bufferline.nvim
[submodule "nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "mason"]
	path = pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "nvim-code-action-menu"]
	path = pack/plugins/opt/nvim-code-action-menu
	url = https://github.com/weilbith/nvim-code-action-menu
[submodule "nvim-lightbulb"]
	path = pack/plugins/opt/nvim-lightbulb
	url = https://github.com/kosayoda/nvim-lightbulb
[submodule "plenary"]
	path = pack/plugins/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "lsp_signature"]
	path = pack/plugins/opt/lsp_signature
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "nvim-notify"]
	path = pack/plugins/opt/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
[submodule "lualine"]
	path = pack/plugins/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "which-key"]
	path = pack/plugins/opt/which-key
	url = https://github.com/folke/which-key.nvim
[submodule "nvim-spectre"]
	path = pack/plugins/opt/nvim-spectre
	url = https://github.com/windwp/nvim-spectre
[submodule "nvim-cmp"]
	path = pack/plugins/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp-buffer"]
	path = pack/plugins/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "cmp-nvim-lsp"]
	path = pack/plugins/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "cmp-path"]
	path = pack/plugins/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "cmp-emoji"]
	path = pack/plugins/opt/cmp-emoji
	url = https://github.com/hrsh7th/cmp-emoji
[submodule "diffview"]
	path = pack/plugins/opt/diffview
	url = https://github.com/sindrets/diffview.nvim
[submodule "tokyonight"]
	path = pack/plugins/start/tokyonight
	url = https://github.com/folke/tokyonight.nvim
[submodule "luasnip"]
	path = pack/plugins/opt/luasnip
	url = https://github.com/L3MON4D3/LuaSnip
  ignore = dirty
[submodule "cmp_luasnip"]
	path = pack/plugins/opt/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "mini.splitjoin"]
	path = pack/plugins/opt/mini.splitjoin
	url = https://github.com/echasnovski/mini.splitjoin.git
  ignore = dirty
[submodule "mini.comment"]
	path = pack/plugins/opt/mini.comment
	url = https://github.com/echasnovski/mini.comment.git
  ignore = dirty
[submodule "text-case"]
	path = pack/plugins/opt/text-case
	url = https://github.com/johmsalas/text-case.nvim.git
[submodule "nvim-treesitter-context"]
	path = pack/plugins/opt/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "kylechui/nvim-surround"]
	path = pack/plugins/opt/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "typescript-tools"]
	path = pack/plugins/opt/typescript-tools
	url = https://github.com/pmizio/typescript-tools.nvim.git
[submodule "ultimate-autopair"]
	path = pack/plugins/opt/ultimate-autopair
	url = https://github.com/altermo/ultimate-autopair.nvim.git
[submodule "neotest"]
	path = pack/plugins/opt/neotest
	url = https://github.com/nvim-neotest/neotest.git
[submodule "neotest-vitest"]
	path = pack/plugins/opt/neotest-vitest
	url = https://github.com/marilari88/neotest-vitest.git
[submodule "neotest-haskell"]
	path = pack/plugins/opt/neotest-haskell
	url = https://github.com/mrcjkb/neotest-haskell.git
  ignore = dirty
[submodule "conform"]
	path = pack/plugins/opt/conform
	url = https://github.com/stevearc/conform.nvim
[submodule "auto-save"]
	path = pack/plugins/opt/auto-save
	url = https://github.com/okuuva/auto-save.nvim.git
  ignore = dirty
[submodule "nvim-nio"]
	path = pack/plugins/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "flash"]
	path = pack/plugins/opt/flash
	url = https://github.com/folke/flash.nvim.git
[submodule "gitsigns"]
	path = pack/plugins/opt/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "oil"]
	path = pack/plugins/opt/oil
	url = https://github.com/stevearc/oil.nvim.git
[submodule "ts-comments"]
	path = pack/plugins/opt/ts-comments
	url = https://github.com/folke/ts-comments.nvim.git
[submodule "inc-rename"]
	path = pack/plugins/opt/inc-rename
	url = https://github.com/smjonas/inc-rename.nvim.git
[submodule "blink.cmp"]
	path = pack/plugins/opt/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule "emoji.nvim"]
	path = pack/plugins/opt/emoji.nvim
	url = https://github.com/Allaman/emoji.nvim.git
[submodule "nui"]
	path = pack/plugins/opt/nui
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "fzf-lua"]
	path = pack/plugins/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "treewalker.nvim"]
	path = pack/plugins/opt/treewalker.nvim
	url = https://github.com/aaronik/treewalker.nvim.git
[submodule "blink-emoji"]
	path = pack/plugins/opt/blink-emoji
	url = https://github.com/moyiz/blink-emoji.nvim.git
[submodule "codecompanion"]
	path = pack/plugins/opt/codecompanion
	url = https://github.com/olimorris/codecompanion.nvim.git
[submodule "quicker"]
	path = pack/plugins/opt/quicker
	url = https://github.com/stevearc/quicker.nvim.git
[submodule "nvim-treesitter-endwise"]
	path = pack/plugins/opt/nvim-treesitter-endwise
	url = https://github.com/RRethy/nvim-treesitter-endwise.git
